<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Met Firsts Create</title>
</head>
<body>
    <div class="topnav">
        <button class="navButton">About Us</button>
        <button class="navButton">Programs</button>
        <button class="navButton">Events</button>
        <button class="navButton">Sponsor</button>
        <!-- <a href="">
        <img class="navLogo" src="../static/assets/images/MFC_TransparentBG.png" alt="MFC_BLACK_TransparentBG">
        </a> -->
    </div>
</body>
</html>